@use '../partials/colors' as colors;
@use '../partials/mixins' as mixins;

.reviews {
  background-color: colors.$color-primary;

  &__title {
    @include mixins.section-title(colors.$color-white);
  }

  &__container {
    @include mixins.flex-center;
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.review {
  border: 3px solid colors.$color-white;
  max-width: 470px;
  line-height: 1.3;
  color: colors.$color-text-dark;
  clear: both;

  &__quote {
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    display: flex;
  }

  &__quote-icon {
    font-size: 1.2rem;
  }

  &__quote-icon-right {
    margin-top: auto;
    align-self: flex-end;
  }

  &__author {
    @include mixins.flex-between;
    margin: 0 2rem;
    padding-bottom: 1rem;
    font-weight: 400;
  }

  &__author-name {
    font-style: normal;
  }

  &__author-date {
    font-style: normal;
  }
}
