@use 'colors' as colors;
@use 'fonts' as fonts;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  font-family: fonts.$font-body;
  font-weight: 400;
  background-color: colors.$color-background;
}

h1 {
  font-family: fonts.$font-heading;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
