@mixin phone {
  @media screen and (min-width: 577px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1081px) {
    @content;
  }
}  